body{
  background-color: aqua;
  margin-left: 50px;
}
.box{
  width: 200px;
  height: 500px;
  border: 1px solid black;
  float: left;
  margin: 32px;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}