
.flex-layout-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
    padding: 10px;
    margin: 10px;
}

.flex-layout-1 .box1 {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    gap: 0;
}
.box1{
    height: 50px;
    width: 425px;
    border-radius: 10px;
}

.flex-layout-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
    padding: 10px;
    margin: 10px;
}

.flex-layout-2 .box2 {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    gap: 0;
}
.box2{
    height: 50px;
    width: 350px;
    border-radius: 10px;
}

